{%load static%}

<!DOCTYPE html>
<html>
    <head>

        <title>Default</title>

    </head>

    <body>
        <ul>
            <!---<li>
                <a href="hideout/">Clica aqui para proceder para ires para o Esconderijo.</a>
            </li>--->
            <li>
                <a href="welcome/">Clica aqui para seres saudado.</a>
            </li>
            <li>
                <a href="testapp/add">Clica aqui para ires para uma app de teste.</a>
            </li>
        </ul>
    </body>
</html>