#Dois{

    background-color:pink;
    padding: 20px;
    height:900px;
    width:200px;
}
#Um{

    background-color: orange;
    padding: 20px;
    margin-left:500px;
    height:900px;
    width:200px;
}