{%extends "myhtml/base.html"%}
{%load static%}
{%block layout%}




<html lang="pt">

<head>
    <title>
        Tabela
    </title>
    <link rel="stylesheet" href="{%static '/hideout/table/table.css'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

    Minhas coisas preferidas:
    <table>
        <thead>
            <tr>
                <td>Coisas bonitas</td>
                <td>Coisas feias</td>
                <td>Coisas simples</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ufc</td>
                <td>Julgar</td>
                <td>Kings and Generals</td>

            </tr>
            <tr>
                <td>ufc</td>
                <td>Julgar</td>
                <td>Kings and Generals</td>

            </tr>
            <tr>
                <td>32112313132</td>
                <td>213321123132123132132</td>
                <td>21312123312132312123123</td>

            </tr>
        </tbody>

    </table>
</body>

{%endblock%}